// Vars (Bulma initial & own custom)
@import 'vars';

// The rest of Bulma
@import '~bulma/bulma.sass';

//@import '~sweetalert2/dist/sweetalert2';
@import '~spinkit/scss/spinners/11-folding-cube.scss';

.has-bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: none;
	background-size: cover;
	background-position: center center;
}

.image.is-16by9 {
	// Set appropriate image ratio
	padding-top: 60%;
}