// Bulma initial variables
@import '~bulma/sass/utilities/initial-variables';

//$blue: #155799;
$red: #944C3B;
$teal: #509494;
$teal-light: #60B2B2;
$blue: #2c3e50;
$primary: $teal;
$secondary: $blue; //#158d63;

//$family-sans-serif: 'Encode Sans Condensed', Cabin, sans-serif;
//$family-primary: $family-sans-serif;
$family-secondary: Jura, sans-serif;

$sidebar-width: 18rem;

$xlarge: '1650px';